<%- include ("../partials/header") %>

<div class="container">
	
	<h1 id="center">Editing Comment</h1>
	
	<div class="container" id="formCenter">

		<form action="/shelters/<%= shelter._id %>/dogs/<%= dog._id %>/comments/<%= comment._id %>" method="POST">
			<div class="form-group">
				<label for="comment[text]">Comment Content</label>
				<input class="form-control" type="text" value="<%= comment.text %>" name="comment[text]" required>
			</div>

			<button class="full btn btn-success">Submit</button>
		</form>
	
	</div>
</div>

<%- include ("../partials/footer") %>