<%- include ("../partials/header") %>

<div class="container-fluid">
	
	
	<div class="block text-center" id="margin">
		<h1 class="inline"><%= dog.name %>'s Comments</h1>
	</div>
	
	<div class="container-fluid">
		<% for(var i = dog.comments.length - 1; i >= 0; i--){ %>
			<div class="border">
				<h4 class="inline">
					<img src="<%= comments[i].author.id.avatar %>"><a href="/users/<%= dog.comments[i].author.id %>"><%= dog.comments[i].author.username %></a>
				</h4>
				
				<% if(currentUser && dog.comments[i].author.id.equals(currentUser._id)){ %>
					<form class="inline" action="/shelters/<%= shelterId %>/dogs/<%= dog._id %>/comments/<%= dog.comments[i]._id %>/delete" method="POST">
						<button class="pull-right btn btn-danger btn-xs">Delete</button>
					</form>

					<a href="/shelters/<%= shelterId %>/dogs/<%= dog._id %>/comments/<%= dog.comments[i]._id %>/edit" class="pull-right btn btn-warning btn-xs marginLeft">Edit</a>
				<% } %>

				<p><%= dog.comments[i].text %></p>
			</div>
			<hr>
		<% } %>
	</div>
</div>


<%- include ("../partials/footer") %>