<%- include ("../partials/header") %>

<div class="container-fluid">
	
	
	<div class="block text-center" id="margin">
		<h1 class="inline">Your Messages</h1>
	</div>
	
	<div class="container-fluid">
		<% if(user.conversations.length !== 0){ %>
			<% for(var i = 0; i < user.conversations.length; i++){ %>
				<a href="/users/<%= user._id %>/messages/<%= user.conversations[i].person._id %>">
					<div class="border">
						<h4 class="inline">
							<%= user.conversations[i].person.username %>
						</h4>
						<% var j = user.conversations[i].messages.length - 1; %>
						<p><%= user.conversations[i].messages[j].text %></p>
					</div>
				<hr>
			<% } %>
				</a>
		<% } else { %>
			<p>You have no messages.</p>
		<% } %>
	</div>
</div>


<%- include ("../partials/footer") %>