<%- include ("../partials/header") %>

<div class="container-fluid">
	
	
	<div class="block text-center" id="margin">
		<h1>Your messages with <a href="/users/<%= recipient._id %>"><%= recipient.username %></a></h1>
	</div>
	
	<div class="marginAuto">
		<div class="borderMessage showThumbnailMessage">
			<h4>
				<img class="rounded" src="<%= recipient.avatar %>"><a href="/users/<%= recipient._id %>"> <%= recipient.username %></a>
			</h4>
			<div>
				<form class="marginBot" action="/users/<%= user._id %>/messages/<%= recipient._id %>" method="POST">
					<textarea class="messageInput" name="message[text]" placeholder="Send something to <%= recipient.username %>..."></textarea>
					<button class="btn btn-lg btn-primary sendButton">
						<i class="fas fa-reply"></i>
					</button>
				</form>
			</div>
			<% if(index !== undefined){ %>
			<div>
				<% for(var i = user.conversations[index].messages.length - 1; i >= 0 ; i--){ %>
					<div class="
							<% if(user.conversations[index].messages[i].sender.id.equals(currentUser._id)){ %>
								message-orange
							<% } else { %>
								message-blue
							<% } %>">
						<p class="message-content">
							<%= user.conversations[index].messages[i].text %>
						</p>
					</div>
				<% } %>
			</div>
			<% } %>
		</div>
	</div>
</div>


<%- include ("../partials/footer") %>