<%- include ("../partials/header") %>

<div class="container">
	
	<!--HEADER-->
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to Purrfect Match</h1>
			<p>Where you can find your best buddy anywhere in the world!</p>
		</div>
	</header>
	
	<!--PRINTING DOGS-->
	<div id="indexGrid" class="row text-center">
		<% for(var i = 0; i < shelters.length; i++){ %>
			<% for(var j = 0; j < shelters[i].dogs.length; j++){ %>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="<%= shelters[i].dogs[j].avatar %>">
						<div class="caption">
							<h4><%= shelters[i].dogs[j].name %> </h4>
							<p><%= shelters[i].dogs[i].breed %>, <%= shelters[i].dogs[i].age %></p>
						</div>
						<p>
							<a class="btn btn-primary" href="/shelters/<%= shelters[i]._id %>/dogs/<%= shelters[i].dogs[j]._id %>">See More</a>
						</p>
					</div>
				</div>
			<% } %>
		<% } %>
	</div>

</div>

<%- include ("../partials/footer") %>