<%- include ("../partials/header") %>

<div class="container-fluid">
	
	
	<div class="block" id="margin">
		<h3 class="inline"><%= shelter.name %>'s Dogs</h3>
	</div>
	
	<% for(var i = 0; i < shelter.dogs.length; i++){ %>
	<div class="col-md-3 col-sm-6">
		<div class="thumbnail">
			<img src="<%= shelter.dogs[i].avatar %>">
			<div class="caption">
				<p><%= shelter.dogs[i].name %></p>
				<p><%= shelter.dogs[i].breed %>, <%= shelter.dogs[i].age %></p>
				<a class="btn btn-primary btn-sm" href="/shelters/<%= shelter._id %>/dogs/<%= shelter.dogs[i]._id %>">See More</a>
			</div>
			
		</div>
	</div>
	<% } %>
		
</div>


<%- include ("../partials/footer") %>