<%- include ("../partials/header") %>

<div class="container-fluid">

	<div class="thumbnail showThumbnail">
		<img src="<%= dog.avatar %>">
		<div class="caption">
			<h3><%= dog.name %></h3>
			<p><%= dog.breed %></p>
			<p><%= dog.age %></p>
			<p><%= dog.gender %></p>
			<p><%= dog.temperament %></p>
			<p><%= dog.medicalConditions %></p>
			<p><%= dog.personality %></p>
		</div>
		<div class="alert alert-warning pull-right" role="alert">WARNING: Please note this dog has been adopted you should press the 'Delete Dog' button so people won't think this dog is available for adoption</div>
		
		<!-- LIKE BUTTON -->
		<form class="inline" action="/shelters/<%= shelter._id %>/dogs/<%= dog._id %>/like" method="POST">
			<button class="btn btn-primary btn-lg"><i class="
				<% if(currentUser){ %>
					<% //checks if user already liked the dog, to figure out if the heart icon is red or not, if x is true, the user has liked, if x is false, the user didn't like the dog
						if(x === true){ %>
							likeActive
					<% } %>
				<% } %>
				fas fa-heart"></i> Like (<%= dog.likes.length %>)</button>
		</form>
		
		<!-- EDIT BUTTON -->
		<a class="btn btn-warning btn-lg" href="/shelters/<%= shelter._id %>/dogs/<%= dog._id %>/edit">Edit</a>
		
		<!-- DELETE BUTTON -->
		<form class="inline" action="/shelters/<%= shelter._id %>/dogs/<%= dog._id %>/delete" method="POST">
			<button class="btn btn-danger btn-lg">Delete Dog</button>
		</form>
		
	</div>

	<!-- COMMENTS SECTION -->
	<div class="showThumbnail row">
		<div class="block margin">
			<h3 class="inline"><%= dog.name %>'s Comments</h3>
			<a id="defaultButton" class="btn btn-default btn-sm pull-right" href="/shelters/<%= shelter._id %>/dogs/<%= dog._id %>/comments">View all comments</a>
			<a class="btn btn-primary btn-sm pull-right" href="/shelters/<%= shelter._id %>/dogs/<%= dog._id %>/comments/new">Add New Comment</a>
		</div>

		<!-- Show the 4 oldest comments -->
		<% for(var i = 0; i < dog.comments.slice(0,4).length; i++){ %>
			<div>
				<div>
					<h4 class="inline">
						<%= dog.comments[i].author.username %>
					</h4>
					
					<form class="inline" action="/shelters/<%= shelter._id %>/dogs/<%= dog._id %>/comments/<%= dog.comments[i]._id %>/delete" method="POST">
						<button class="pull-right btn btn-danger btn-xs">Delete</button>
					</form>
					
					<a href="/shelters/<%= shelter._id %>/dogs/<%= dog._id %>/comments/<%= dog.comments[i]._id %>/edit" class="pull-right btn btn-warning btn-xs">Edit</a>
				</div>
				<p><%= dog.comments[i].text %></p>
			</div>
		<% } %>
	</div>
	
</div>

<%- include ("../partials/footer") %>