<%- include ("../partials/header") %>

<div class="container-fluid">

	<div class="thumbnail showThumbnail">
		<img src="<%= dog.avatar %>">
		<div class="caption">
			<h3 class="inline">Name: <%= dog.name %></h3>
			<p class="inline pull-right"><strong>Belonging shelter:</strong> <a href="/shelters/<%= dog.shelter._id %>"><%= dog.shelter.name %></a></p>
			<p><strong>Breed:</strong> <%= dog.breed %></p>
			<p><strong>Age:</strong> <%= dog.age %></p>
			<p><strong>Gender:</strong> <%= dog.gender %></p>
			<p><strong>Temperament:</strong> <%= dog.temperament %></p>
			<p><strong>Medical Conditions:</strong> <%= dog.medicalConditions %></p>
			<p><strong>Personality:</strong> <%= dog.personality %></p>
		</div>
		
		<% if(currentUser && dog.author.id.equals(currentUser._id)){ %>
			<div class="alert alert-danger pull-right" role="alert">WARNING: Please note this dog has been adopted you should press the 'Delete Dog' button so people won't think this dog is available for adoption</div>
		<% } %>
		
		<!-- LIKE BUTTON -->
		<form class="inline" action="/shelters/<%= shelter._id %>/dogs/<%= dog._id %>/like" method="POST">
			<% if(currentUser && x === true){ //checks if user already liked the dog, to figure out if the heart icon is red or not, if x is true, the user has liked, if x is false, the user didn't like the dog %>
				<button class="btn btn-primary btn-lg"><i class="likeActive fas fa-heart"></i> Liked </button>
			<% } else{ %>
				<button class="btn btn-primary btn-lg"><i class="fas fa-heart"></i> Like</button>
			<% } %>
		</form>
		
		<!-- see users that liked this dog button, launches a pop up page with the info below this button -->
		<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#likeModal">
		   <%= dog.likes.length %> Likes
		</button>


		<!-- Info that pops up when the user clicks the 'x likes' button -->
		<div class="modal fade" id="likeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h4 class="modal-title inline" id="exampleModalLongTitle">People that liked <%= dog.name %></h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body">
				<% for(var i = 0; i < dog.likes.length; i++){ %>
					<p>
						<img id="rounded" src="<%= dog.likes[i].avatar %>"> <a href="/users/<%= dog.likes[i]._id %>"> <%= dog.likes[i].username %></a>
					</p>
				<% } %>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			  </div>
			</div>
		  </div>
		</div>
		
		
		
		<% if(currentUser && dog.author.id.equals(currentUser._id)){ %>
			<!-- EDIT BUTTON -->
			<a class="btn btn-warning btn-lg" href="/shelters/<%= shelter._id %>/dogs/<%= dog._id %>/edit">Edit</a>

			<!-- DELETE BUTTON -->
			<form class="inline" action="/shelters/<%= shelter._id %>/dogs/<%= dog._id %>/delete" method="POST">
				<button class="btn btn-danger btn-lg">Delete Dog</button>
			</form>
		<% } %>
		
	</div>

	<!-- COMMENTS SECTION -->
	<div class="showThumbnail row">
		<div class="block margin">
			<h3 class="inline"><%= dog.name %>'s Comments</h3>
			<a class="btn btn-warning btn-sm pull-right" href="/shelters/<%= shelter._id %>/dogs/<%= dog._id %>/comments">View all comments</a>
			
			<% if(currentUser && currentUser.role === "user"){ %>
				<a class="btn btn-primary btn-sm pull-right" href="/shelters/<%= shelter._id %>/dogs/<%= dog._id %>/comments/new">Add New Comment</a>
			<% } %>
		
		</div>

		<!-- Show the 4 most recent comments -->
		<% if(dog.comments.length < 4){ %>
			<% for(var i = dog.comments.length - 1; i >= 0; i--){ %>
				<div>
					<div>
						<h4 class="inline">
							<img class="rounded" src="<%= comments[i].author.id.avatar %>"><a href="/users/<%= dog.comments[i].author.id %>"> <%= dog.comments[i].author.username %></a>
						</h4>

						<% if(currentUser && dog.comments[i].author.id.equals(currentUser._id)){ %>
							<form class="inline" action="/shelters/<%= shelter._id %>/dogs/<%= dog._id %>/comments/<%= dog.comments[i]._id %>/delete" method="POST">
								<button class="pull-right btn btn-danger btn-xs">Delete</button>
							</form>

							<a href="/shelters/<%= shelter._id %>/dogs/<%= dog._id %>/comments/<%= dog.comments[i]._id %>/edit" class="pull-right btn btn-warning btn-xs">Edit</a>
						<% } %>
					</div>
					<p><%= dog.comments[i].text %></p>
				</div>
			<% } %>
		<% } else {%>
			<% for(var i = dog.comments.length - 1; i > dog.comments.length - 5; i--){ %>
				<div>
					<div>
						<h4 class="inline">
							<img class="rounded" src="<%= comments[i].author.id.avatar %>"><a href="/users/<%= dog.comments[i].author.id %>"> <%= dog.comments[i].author.username %></a>
						</h4>

						<% if(currentUser && dog.comments[i].author.id.equals(currentUser._id)){ %>
							<form class="inline" action="/shelters/<%= shelter._id %>/dogs/<%= dog._id %>/comments/<%= dog.comments[i]._id %>/delete" method="POST">
								<button class="pull-right btn btn-danger btn-xs">Delete</button>
							</form>

							<a href="/shelters/<%= shelter._id %>/dogs/<%= dog._id %>/comments/<%= dog.comments[i]._id %>/edit" class="pull-right btn btn-warning btn-xs">Edit</a>
						<% } %>
					</div>
					<p><%= dog.comments[i].text %></p>
				</div>
			<% } %>
		<% } %>
	</div>
	
</div>

<%- include ("../partials/footer") %>