<%- include ("../partials/header") %>

<div class="container-fluid">

	<div class="thumbnail">
		<% if(user.avatar ==! ""){ %>
			<img src="<%= user.avatar %>">
		<% } else{ %>
			<img src="https://cdn.icon-icons.com/icons2/494/PNG/512/user_icon-icons.com_48201.png">
		<% } %>
			
		<div class="caption">
			<h3><%= user.username %></h3>
			<p><strong>Name: </strong><%= user.firstName %> <%= user.lastName %></p>
			<p><strong>What you need to know about <%= user.username %>: </strong><%= user.description %></p>
			<p><strong>Contacts: </strong><%= user.email %></p>
		</div>
		
		<% if(currentUser && currentUser.role === "user"){ %>
			<% if(!(user._id.equals(currentUser._id))){ %>
				<a class="btn btn-primary btn-lg" href="textuser">Send a message to <%= currentUser.username %></a>
			<% } %>
		<% } %>
		
		<% if(currentUser && user._id.equals(currentUser._id)){ %>
			<a class="btn btn-lg btn-warning" href="/users/<%= user._id %>/edit">Edit Account</a>
			<form class=" inline" action="/users/<%= user._id %>/delete" method="POST">
				<button id="deleteAccount" class="btn btn-danger btn-lg" data-toggle="tooltip" data-placement="top" title="WARNING: Please note that if you press this button, you will delete this account, this shelter page and all the dogs, comments and reviews associated. Please be sure of what you want before taking this action.">Delete Account</button>
			</form>

		<% } %>
		
		
		
		
	</div>
	
</div>


<%- include ("../partials/footer") %>